// .vuepress/style.styl, your extra styles.

header
  background-image linear-gradient(#003466, #176699)

.navbar
  .links
    background-color transparent !important

.nav-links
  a
    color white !important

.nav-item > a:not(.external):hover,
.nav-item > a:not(.external).router-link-active
  border-bottom 2px solid white !important
